In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('Heart_disease.csv')
data.head()

,age,sex,cp,restbp,chol,fbs,restecg,maxhr,exang,oldpeak,slope,mv,thal,diagnosis
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0

In [3]:
data['disease'] = np.where(data['diagnosis']>0,1,0)
data.rename(columns={'diagnosis':'diag'},inplace= True)

In [4]:
data.sample(5)

,age,sex,cp,restbp,chol,fbs,restecg,maxhr,exang,oldpeak,slope,mv,thal,diag,disease
118,63,1,4,130,330,1,2,132,1,1.8,1,3.0,7.0,3,1
182,42,1,1,148,244,0,2,178,0,0.8,1,2.0,3.0,0,0
233,74,0,2,120,269,0,2,121,1,0.2,1,1.0,3.0,0,0
31,60,1,4,117,230,1,0,160,1,1.4,1,2.0,7.0,2,1
121,63,0,4,150,407,0,2,154,0,4.0,2,3.0,7.0,4,1

In [5]:
data.describe()

,age,sex,cp,restbp,chol,fbs,restecg,maxhr,exang,oldpeak,slope,mv,thal,diag,disease
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000,301.000000,303.000000,303.000000
mean,54.438944,0.679868,3.158416,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241,4.734219,0.937294,0.458746
std,9.038662,0.467299,0.960126,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438,1.939706,1.228536,0.499120
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,3.000000,0.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,7.000000,2.000000,1.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,7.000000,4.000000,1.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   age      303 non-null    int64
 1   sex      303 non-null    int64
 2   cp       303 non-null    int64
 3   restbp   303 non-null    int64
 4   chol     303 non-null    int64
 5   fbs      303 non-null    int64
 6   restecg  303 non-null    int64
 7   maxhr    303 non-null    int64
 8   exang    303 non-null    int64
 9   oldpeak  303 non-null    float64
 10  slope    303 non-null    int64
 11  mv       299 non-null    float64
 12  thal     301 non-null    float64
 13  diag     303 non-null    int64
 14  disease  303 non-null    int64
dtypes: float64(3), int64(12)
memory usage: 35.6 KB

In [7]:
#About the Dataset
info = ["age","1: male, 0: female","chest pain type, 1: typical angina, 2: atypical angina, 3: non-anginal pain, 4: asymptomatic","resting blood pressure"," serum cholestoral in mg/dl","fasting blood sugar > 120 mg/dl","resting electrocardiographic results (values 0,1,2)"," maximum heart rate achieved","exercise induced angina","oldpeak = ST depression induced by exercise relative to rest","the slope of the peak exercise ST segment","number of major vessels (0-3) colored by flourosopy","thal: 3 = normal; 6 = fixed defect; 7 = reversable defect"]

for i in range(len(info)):
    print(data.columns[i]+":\t\t\t"+info[i])

age:			age
sex:			1: male, 0: female
cp:			chest pain type, 1: typical angina, 2: atypical angina, 3: non-anginal pain, 4: asymptomatic
restbp:			resting blood pressure
chol:			 serum cholestoral in mg/dl
fbs:			fasting blood sugar > 120 mg/dl
restecg:			resting electrocardiographic results (values 0,1,2)
maxhr:			 maximum heart rate achieved
exang:			exercise induced angina
oldpeak:			oldpeak = ST depression induced by exercise relative to rest
slope:			the slope of the peak exercise ST segment
mv:			number of major vessels (0-3) colored by flourosopy
thal:			thal: 3 = normal; 6 = fixed defect; 7 = reversable defect

In [8]:
type(data)

pandas.core.frame.DataFrame

In [9]:
data.shape

(303, 15)

In [10]:
data.fillna(data.mean(), inplace = True)

In [35]:
from sklearn.model_selection import train_test_split

features = ['age','sex','cp','restbp','chol','fbs','restecg','maxhr','exang','oldpeak','slope','mv','thal']

X= data[features]
Y= data['disease']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

In [36]:
X_train.shape

(242, 13)

In [37]:
X_test.shape

(61, 13)

In [38]:
Y_train.shape

(242,)

In [39]:
Y_test.shape

(61,)

In [40]:
data.isnull().to_numpy().any()

False

In [21]:
data.head()

,age,sex,cp,restbp,chol,fbs,restecg,maxhr,exang,oldpeak,slope,mv,thal,diag,disease
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0,0

In [44]:
#fit decision tree model
from sklearn import tree

model = tree.DecisionTreeClassifier(criterion='entropy').fit(X_train,Y_train)

Y_pred_DT = model.predict(X_test)

In [32]:
import graphviz
fn = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca','thal']

tree.export_graphviz(model,out_file = "tree.dot",feature_names=fn,filled = True)

ValueError: Length of feature_names, 13 does not match number of features, 14

In [ ]:
tree.plot_tree(model)

In [45]:
from sklearn.metrics import classification_report, confusion_matrix

print(confusion_matrix(Y_test, Y_pred_DT))
print(classification_report(Y_test, Y_pred_DT))

[[24 10]
 [12 15]]
              precision    recall  f1-score   support

           0       0.67      0.71      0.69        34
           1       0.60      0.56      0.58        27

    accuracy                           0.64        61
   macro avg       0.63      0.63      0.63        61
weighted avg       0.64      0.64      0.64        61

In [46]:
from sklearn import metrics
accuracy = metrics.accuracy_score(Y_test, Y_pred_DT)
print('Accuracy: {:.2f}'.format(accuracy))

Accuracy: 0.64